.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.table {
    position: absolute;
    width: 309px;
    height: 442px;
    font-size: 11px;
    border-spacing: 0;
    box-sizing: border-box;
}

.chart {
    width: 100%;
    height: 442px;
    z-index: 0;
    pointer-events: none;
    top: 17px;
    position: relative;
}

.span{
    width: 309px;
    display: inline-block;
}